body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root{
  height: 100%;
}

textarea, select, input, button { outline: none; }

.dashboardHeader{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: gold;
  /*border-width: medium;
  border-style: solid;
  border-color: #ffffffbd;
  box-sizing: border-box;*/
}

.dashboardHeader button{
  margin: auto 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .4);
  color: gold;
  height: 40px;
  width: 100px;
  transition-duration: .2s;
}

.dashboardHeader button:hover{
  background-color: rgba(255, 255, 255, .8);
  color: black;
  cursor: pointer;
}

.dashboardContainer{
  display: flex;
  height: 100%;
}

.dashboardContainer .siderbar, .dashboardContainer .content{
  height: 95vh;
}

.dashboardContainer .siderbar{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 0 0 20%;
  background-image: linear-gradient(141deg, #00000054 0%, #dea900 51%, #dda800 75%);
  border-width: medium;
  border-style: solid;
  border-color: #ffffffbd;
  box-sizing: border-box;
  box-shadow: inset 0 0 30px black;
}

.dashboardContainer .siderbar button{
  /*width: 50%;
  height: 30px;*/
  margin: 0 auto;
  border-width: 0px;
  border-radius: 5px;
  color: #3c3b3b;
  font-size: 1em;
  padding: 10px 20px;
  margin: 0 auto;
  text-shadow: 0 0 5px white;
  transition-duration: .5s;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
}

.dashboardContainer .siderbar button:hover{
  background-color: gold;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,.4);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0,0,0,.6);
}

.dashboardContainer .content{
  flex: 0 0 80%;
  background-color: black;
  box-shadow: inset 0 0 50px #ffd70054;
}

.dashboardContainer .content h1{
  color: white;
  text-align: center;
}

.homeHeader{
  background-color: rgba(0,0,0,.5);
}

.homeHeader button{
  background-color: initial;
  border-radius: initial;
  border-width: 0;
}

.headerButtons{
  display: initial;
}

.Home .home-center-content{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.Home .home-center-content h1{
  color: #ffef9c;
  text-shadow: 0 0 10px black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.Home .home-center-content button{
    display: inline-block;
    font-size: 1em;
    border-radius: 10px;
    border-style: none;
    border-width: thin;
    color: white;
    background-color: #8d8b7e94;
    transition-duration: .5s;
    min-width: 100px;
}

.Home .home-center-content button:hover{
    box-shadow: -5px 5px 20px rgba(0,0,0,.8);
    cursor: pointer;
}

.gameframe{
  margin:auto;
}

.gamecontainer{
  height: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width:768px) {
  /* For mobile phones: */
  .headerButtons{
    display: none;
  }
  .Login {
    width: 50vh;
  }
  .Login input {
    width: 10em;
  }
}

@keyframes bouncy {
 0%{top:0em}
 40%{top:0em}
 43%{top:-0.9em}
 46%{top:0em}
 48%{top:-0.4em}
 50%{top:0em}
 100%{top:0em;}
}
